.header {
  height: 56px;
  padding: 12px 0;
  position: relative;
  box-sizing: border-box;
}

.logo {
  height: 32px;
  padding: 0 10px;
}

.nav {
  position: absolute;
  right: 10px;
  top: 21px;
}
